/* Estilização dos elementos das telas de calculadora - podem ser reaproveitados */

/* Botões */

main {
    margin-top: 150px;
}



.botao-destaque-padrao {
    position: relative;
    width: 180px;
    height: 40px;
    color: #fcf2eb;
    font-weight: 500;
    font-size: 14px;    
    text-align: center;
    background-color: var(--cor-padrao-aplicacao);
    border: 2px solid var(--cor-padrao-aplicacao);
    padding: 7px 40px;
    border-radius: 7px;
    margin: 15px;
    cursor: pointer;
}

.botao-destaque-padrao:hover {
    background-color: #e1850d;
}

.botao-fraco {
    position: relative;
    width: 180px;
    height: 40px;
    color: #fcaf4a;
    font-weight: bolder;
    font-size: 14px;    
    text-align: center;
    background-color: #fffffe;
    border: 3px solid #fcaf4a;
    padding: 7px 40px;
    border-radius: 7px;
    margin: 15px;
}

#botao-calcular {
    position: relative;
    width: 180px;
    height: 40px;
    color: #fcf2eb;
    font-weight: 500;
    font-size: 14px;    
    text-align: center;
    background-color: var(--cor-padrao-aplicacao);
    border: 2px solid var(--cor-padrao-aplicacao);
    padding: 7px 40px;
    border-radius: 7px;
    margin: 15px;
    cursor: pointer;
    
}

#botao-calcular:hover {
    background-color: #e1850d;
}

#botao-limpar {
    position: relative;
    width: 180px;
    height: 40px;
    color: #fcaf4a;
    font-weight: bolder;
    font-size: 14px;    
    text-align: center;
    background-color: #fffffe;
    border: 3px solid #fcaf4a;
    padding: 7px 40px;
    border-radius: 7px;
    margin: 15px;
    cursor: pointer;
}

#botao-limpar:hover {
    background-color: #fbf8f4;
}


/* Elementos de Texto */
.titulo {
    text-align: center;
    display: block;
    font-weight: bold;
    margin: auto;
}

.titulo-destaque-laranja {
    text-align: center;
    display: inline-block;
    color: #FF9000;
    font-weight: bold;
    
}

.titulo-cardapio {
    text-align: left;
    display: block;
    font-weight: bold;
    margin: auto;
    padding-left: 25px;
}

.titulo-refeicoes-cardapio {
    text-align: left;
    display: block;
    font-weight: bold;
    margin-top: 30px;
    padding-left: 25px
}

.titulo-destaque-laranja-cardapio {
    text-align: center;
    display: inline-block;
    color: #FF9000;
    font-weight: bold;    
}

.descricao-cardapio {
    display: flex;
    flex-direction: column;
    padding: 10px 25px 10px 15px;
    max-width: 65%;
    margin-top: 20px;
    margin-left: 10px;
    text-align: justify;
    gap: 15px;
    background-color: #fef6ef;
    border-radius: 20px;
}

.botoes-calc-cal {
    display: block;
}

/* Containers */

.container-calc-imc {
    display: flex;
    flex-direction: column; 
    align-items: center;          
    width: 80%;
    height: auto;
    padding: 10px;
    background-color: #fef6ef;
    border-radius: 4px;
    margin: auto;
    top: 20px;
    position: relative;
    align-content: center;
}

.container-calc-cal {
    display: flex;
    flex-direction: column; 
    align-items: center;          
    width: 80%;
    height: auto;
    padding: 10px;
    background-color: #fef6ef;
    border-radius: 20px;
    margin: auto;
    top: 20px;
    position: relative;
    align-content: center;
}

.container-calc-cal-res {
    display: flex;
    flex-direction: column; 
    align-items: center;          
    width: 80%;
    height: auto;
    padding: 10px;
    background-color: #fef6ef;
    border-radius: 20px;
    top: 50px;
    margin: auto;
    position: relative;
    align-content: center;
    gap: 7px; 
    text-align: center;   
}

.transicao-result {
    position: relative;
    text-align: center;
    top: 80px;
}

.container-calc-cal-obj {
    display: flex;
    flex-direction: column; 
    align-items: center;          
    width: 80%;
    height: auto;
    padding: 10px;
    background-color: #fef6ef;
    border-radius: 20px;
    top: 90px;
    margin: auto;
    position: relative;
    align-content: center;
    gap: 7px; 
    text-align: center;      
}

.container-refeicoes-cardapio {
    display: flex;
    flex-direction: column; 
    height: 30%;
    background-color: #fef6ef;
    border-radius: 20px;
    margin-top: 20px;
}

.card-refeicoes-cardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbf9f8;
    
}

.form-cal-1 {
    display: grid;    
    margin: 30px;
    gap: 20px;
}
.form-cal-2 {
    display: flex;
    margin: 30px;
    justify-content: center;
    gap: 30px;
}

.label-input-calc {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    border-radius: 15px;    
    border: none;
    align-items: center;   
}


.label-input-calc input, select {
    border-radius: 10px;
    border: none;
    text-indent: 5px;
    padding: 4px 3px;
}

.label-input-calc-obj {
    
    display: flex;
    flex-direction: column;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    align-items: center;
    
}

.objetivo {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    gap: 15px;
    
}

.card-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}  

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 15px;
    text-align: center;
    display: inline-block;
    transition: transform 0.2s; /* Adicione uma transição suave na propriedade 'transform' */
    background-color: white;
    
    
}

.card img {
    max-width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-text {
    padding: 10px;
}



.card a {
    text-decoration: none; 
    color: black;
}

.card:hover {
    transform: scale(1.05); /* Aumente a escala em 10% quando o mouse passa por cima */
}

.hide {
    display: none;
}

.show {
    display: flex;
    flex-direction: column; 
    align-items: center;          
    width: 80%;
    height: auto;
    padding: 10px;
    background-color: #fef6ef;
    border-radius: 20px;
    top: 50px;
    margin: auto;
    position: relative;
    align-content: center;
    gap: 7px; 
    text-align: center;
}