
.first-conteiner{ 
    background-color:white;  
    border-color: #FF9000;
    color: black;
    padding: 50px;
}

.filho-1{
    padding-left:50px;
}

.img{
    width: 100%;
    height: 100%;
}



.filho-2{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 50px;
    gap: 20px;
    width: 100%;
}
.content-test{
    height: 250px;
    width: 200px;
    background-color:#FF9000;
    border-radius: 10px;
}


.caixa-imagem,img{  
    
    height: 145px;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
}


.caixa-grupo{
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
}

