
.first-conteiner{ 
    background-color:white;  
    border-color: #FF9000;
    color: black;
    padding: 50px;
}

.filho-1{
    padding-left:50px;
}




.filho-2{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 50px;
    gap: 20px;
    width: 100%;
}
.content-test{
    height: 250px;
    width: 200px;
    background-color:#f7ddbb;
    border-radius: 10px;
}


.caixa-imagem img{  
    width: 95%;
    height: 100%;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
}

.caixa-imagem{
    height: 120px;
}
.caixa-grupo{
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   height: 50%;
   align-items: center;
   color: #fff;
   font-weight: bold;
}

/*TELA GRUPOS ALIMENTARES*/

.page-title{
    color: black;
    padding: 160px;
    display: flex;
    padding-right: 10px;
    padding-left:50px;
    padding-top: 130px;
    padding-bottom: 50px;
    
}


.caixa-de-texto-1{
    display: flex;
    color: black;
    padding: 100px;
    padding-top:10px;
    display: flex;
    padding-left: 50px;
    padding-bottom: 2px;  
    background-color:#f7ddbb;
    font-size:12px;
    
}


.caixa-de-texto-2{
    display: flex;
    color: black;
    font-weight: bold;
    padding: 100px;
    padding-top:50px;
    display: flex;
    padding-left: 50px;
    padding-bottom: 2px;
    padding-top: 80px;
   
}



.padroes-dos-icones{
     
    display: flex;
    flex-wrap:wrap;
    height: auto;
    padding: 50px;
    gap: 20px;
    width: 100%;
    justify-items: center;
   
}
.botao-teste{
display: flex;
background-color: #FF9000;
margin-left: 100px;
padding-left: 40px;
border-radius: 25px;
}

.thumbs-video{
    height: 275px;
    width: 280px;
    background-color:#f7ddbb;
    border-radius: 10px;
   
  
}

.descrition{
    display: flex;
   justify-content: center;
   height: 50%;
   align-items: top ;
   color:white;
   font-weight:100px;
   justify-items:center;
   padding-left: 5px;
}

.imagem img{
    text-align: center;
    width:100%;
    background-color: lightgray;
    margin: 0px;
    border-radius: 10px;
}

.imagem{
    height: 160px;
}



