* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root {
    --cor-padrao-aplicacao: #FF9000;
    --cor-secundaria-fraco: #EDBF83;
    --cor-secundaria-media: #EDA84D;

}

/* INICIO HEADER */



header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: #FFF;
    padding: 15px;
    align-items: center;
    top: 0;
    box-shadow: 0px 0px 5px 0px;
    width: 100%;
    z-index: 9999;
}

.navbar-header {
    display: flex;
    width: 100%;
    margin-left: 30px;
}

.navbar-header ul {
    position: absolute;
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
}

.content-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.listaContent-Header {
    right: 155px;
    text-align: center;
    top: 1px;

}

.content-header ul li {
    list-style: none;
    position: relative;
}

.content-header ul li a {
    display: block;
    font-size: 20px;
    color: #222;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    padding-bottom: 10px;
}

.link-login {
    text-decoration: none;
    font-size: 20px;
    background-color: var(--cor-padrao-aplicacao);
    color: #FFF;
    margin-bottom: 0.5rem;
    padding: .5rem 1.5rem;
    border-radius: 60px;
}

.link-login:hover {
    background-color: #e07f00;
    text-decoration: none;
}

.content-header ul li ul {
    display: none;
    position: absolute;
}

.content-header ul li:hover ul {
    display: block;
}

.content-header ul li ul li {
    width: 150px;
}

.content-header ul li ul li a {
    padding: 15px 14px;
}

.content-header ul li ul li a:hover {
    background-color: rgba(255, 145, 0, 0.9);
}

.icon-and-text-header {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
    width: 30%;
}

.menu-user {
    right: 10px;
    text-align: center;
    top: 53px;
}

.button-profile-and-search-input button button li {
    list-style: none;
    position: relative;
}

.button-profile-and-search-input button li a {
    display: block;
    font-size: 20px;
    color: #222;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    padding-bottom: 10px;
}

.button-profile-and-search-input button li {
    list-style: none;
}

.button-profile-and-search-input button li ul {
    display: none;
    position: absolute;
}

.button-profile-and-search-input button li:hover ul {
    display: block;
}

.button-profile-and-search-input button li ul li {
    width: 150px;
}

.button-profile-and-search-input button li ul li a {
    padding: 10px 10px;
}

.button-profile-and-search-input button li ul li a:hover {
    background-color: rgba(255, 145, 0, 0.9);
    color: #222;
}

.button-profile {
    border: none;
    background-color: transparent;
    display: flex;
    cursor: pointer;
    margin-top: 13px;

}

.button-profile-and-search-input {
    display: flex;
    position: absolute;
    align-items: center;
    right: 30px;

}

.button-profile a:hover {
    text-decoration: none;
    color: #FFF;
}

/* FIM HEADER */

.containerPrincipal {
    margin-top: 7rem;
}

.containerCarousel {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 1rem;
}

.carousel-inner {
    height: 40rem;
}

.card {
    margin-top: 1rem;
    margin-left: 1rem;
}

.paiCard {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.boasVindas {
    text-align: center;
    margin: 2rem;
    margin-top: 8rem;
}

.btn {
    background-color: var(--cor-padrao-aplicacao);
    border: 0;
}

.boasVindasLaranja {
    color: var(--cor-padrao-aplicacao);
    font-weight: bold;
}

.imagemCarrosselUm {
    background: url('./imgs/imagemCarrosel1.png') center/contain no-repeat;
}

.imagemCarrosselDois {
    background: url('./imgs/imagemCarrosel2.png') center/contain no-repeat;
}

.imagemCarrosselTres {
    background: url('./imgs/imagemCarrosel3.png') center/contain no-repeat;
}

@media (max-width: 1100px) {
    .content-first-section-img {
        position: absolute;
        right: -10%;
    }

    .container-main {
        position: relative;
        width: 100%;
        justify-content: start;
        margin-left: 20%;
    }

    .img-container-home-nutricionista img {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .content-first-section-img {
        display: none;
    }

    .img-container-home-nutricionista img {
        -webkit-mask-image: linear-gradient(to top, transparent 0%, black 100%);
    }

    .content-nutricionista-home {
        width: 100%;
        right: -50%;
        bottom: -20%;
        transform: translate(-50%, 40%);
        padding: 30px;
    }
}

@media (max-width: 500px) {


    .container-main {
        margin-left: 0;
    }

    .content-nutricionista-home {
        right: -50%;
        bottom: -100%;
        transform: translate(-50%, 40%);
        padding: 30px;
    }
}