* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root {
    --cor-padrao-aplicacao: #D9D9D9; /* Defina a variável --cor-destaque com a cor desejada */
  }

ul li{
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-padrao-aplicacao);
    padding: 20px;
    align-items: center;
}

.navbar-header ul {
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
    margin-left: 400px;
}

.navbar-header ul li a {
    font-size: 20px;
}

.navbar-header ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-and-text-header {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
}

.search-box {
    background-color: white;
    border-radius: 20px;
    height: 30px;
    width: 250px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    box-shadow: 2px 5px 4px -5px black;
}

.search-input {
    border: none;
    width: 90%;
}

.search-button {
    border: none;
    display: flex;
    margin-right: 10px;
}

.search-button img {
    height: 20px;
}

.button-profile {
    margin-right: 30px;
    border: none;
    background-color: transparent;
    display: flex;
}

.button-profile-and-search-input {
    display: flex;
    gap: 30px;
    align-items: center;
}