* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root {
    --cor-padrao-aplicacao: #FF9000; /* Defina a variável --cor-destaque com a cor desejada */
    --cor-secundaria-fraco: #EDBF83;
    --cor-secundaria-media: #EDA84D;

  }

/* INICIO HEADER */

ul li{
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 20px;
    align-items: center;
}

.navbar-header ul {
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
    margin-left: 400px;
}

.navbar-header ul li a {
    font-size: 20px;
}

.navbar-header ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-and-text-header {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
}

.search-box {
    background-color: white;
    border-radius: 20px;
    height: 30px;
    width: 250px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    box-shadow: 2px 5px 4px -5px black;
}

.search-input {
    border: none;
    width: 90%;
}

.search-button {
    border: none;
    display: flex;
    margin-right: 10px;
}

.search-button img {
    height: 20px;
}

.button-profile {
    margin-right: 30px;
    border: none;
    background-color: transparent;
    display: flex;
}

.button-profile-and-search-input {
    display: flex;
    gap: 30px;
    align-items: center;
}

/* FIM HEADER */

.container-main-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.content-text-button-home {
    width: 350px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    z-index: 999;
    margin: 20px;
}

.content-text-button-home span {
    font-size: 30px;
    line-height: 1.2;
}

.content-text-button-home button {
    width: 200px;
    height: 50px;
    color: #FFF;
    background-color: var(--cor-padrao-aplicacao);
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.img-container-home-nutricionista img {
    -webkit-mask-image: linear-gradient(to left, transparent 0%, black 100%);
    width: 70%;
}

.img-container-home-nutricionista {
    width: 100%;
}

.second-section-home {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 200px;
}

.laranja-nutricionista-span {
    color: var(--cor-padrao-aplicacao);
}

.content-nutricionista-home {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 40%;
    transform: translate(-10%, 50%);
}

@media (max-width: 1100px) {
    .content-first-section-img {
        position: absolute;
        right: -10%;
    }

    .container-main {
        position: relative;
        width: 100%;
        justify-content: start;
        margin-left: 20%;
    }

    .img-container-home-nutricionista img {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .content-first-section-img {
        display: none;
    }

    .img-container-home-nutricionista img {
        -webkit-mask-image: linear-gradient(to top, transparent 0%, black 100%);
    }

    .content-nutricionista-home {
        width: 100%;
        right: -50%;
        bottom: -20%;
        transform: translate(-50%, 40%);
        padding: 30px;
    }
}

@media (max-width: 500px) {
    
    
    .container-main {
        margin-left: 0;
    }

    .content-nutricionista-home {
        right: -50%;
        bottom: -100%;
        transform: translate(-50%, 40%);
        padding: 30px;
    }
}