@import url("../style.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root {
    --cor-padrao-aplicacao: #FF9000;
    --cor-secundaria-fraco: #EDBF83;
    --cor-secundaria-media: #EDA84D;

}

body {
    background: url("./imgs/backgroud.png") no-repeat;

}

ul {
    list-style: none;
}

/* Area onde fica Meu Perfil */
.container__dados {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 8rem 0 0 0.3rem;
}

.container__dados__nav {
    background-color: var(--cor-secundaria-fraco);
    padding: 2%;
    width: 8rem;
    border-radius: 10px;
    box-shadow: 0.3rem 0.3rem 0.3rem gray;
}

.nav__lista__item a {
    text-decoration: none;
    color: black;
}

.nav__lista__item a:hover {
    color: purple;
}

/* ############## FIM ############# */

/* inicio onde fica os dados do usuario */
.meusDados__DadosNumericos{
    margin-bottom: 1rem;
}


.Container__meusDados {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.meusDados__titulo {
    align-self: center;
    margin-bottom: 1rem;
    font-weight: 1000;
}

.meusDados__IMC {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    
}

.meusDados__IMC,
.meusDados__gastoCalorico {
    text-align: center;
    line-height: 1.1;
}

.valorImc,
.gastoCalorico {
    font-size: 5rem;
}

.DadosUsuario {
    text-align: center;
    line-height: 2;
}




@media screen and (min-width: 564px) {
    body {
        background: none;
    }


    .container__dados {
        display: flex;
        flex-direction: row;
        /* align-items: center; */
    }

    .container__dados__nav{
        align-self: flex-start;
        width: auto;

    }

    .Container__meusDados{
        margin: auto;
    }

}