 /*  inicio TelaFav.HTML  */
 .container{
    margin-top: 8rem;
 }
 h1{
    font-size: 50px;
    color: var(--cor-padrao-aplicacao);
 }

 h3 {
    color: var(--cor-padrao-aplicacao);
 }
 .card {
     border: 1px solid #ccc;
     border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     max-width: 300px;
     margin: 10px;
     text-align: center;
     display: inline-block;
     transition: transform 0.2s;
     /* Adicione uma transição suave na propriedade 'transform' */
     background-color: white;
 }

 .card img {
     max-width: 100%;
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
 }

 .card-text {
     padding: 10px;
 }

 .MeusFavs {
     background-color: #fef6ef;
     width: 79%;
     height: 119%;
     border-radius: 20px;     /*  Cria uma caixa responsiva que contem os dados dos usuarios  */
     display: grid;
     margin-left: auto;
     margin-right: auto;
    

 }

 .MeusFavs h1 {
     place-self: center;
     margin-left: auto;
     margin-right: auto;
 }

 .card-container {
     display: flex;
     justify-content: center;
     /* Centraliza horizontalmente */
     align-items: center;
     /* Centraliza verticalmente */
     display: grid;
     place-items: center;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 }

 .card a {
     text-decoration: none;
     color: black;
 }

 .card:hover {
     transform: scale(1.1);
     /* Aumente a escala em 10% quando o mouse passa por cima */
 }

 